body {
    background-color: rgb(243, 213, 174);
}
.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(136, 91, 8);
    justify-content: space-around;
    order: 1;
}
.navbar > p {
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    align-items: center;
}
h1 {
    text-align: center;
}